<h1>formulario</h1>

<% if @tod.errors.any? %>
<h2> No se pudo guardad el registro </h2>
<ul>
	<% @tod.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<%= form_for @tod do |f| %>
<p>
	<%= f.label :nombre %> <br>
	<%= f.text_field :nombre %>
</p>
<p>
    <%= f.label :descripcion %> <br>
	<%= f.text_area :descripcion %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>